<!DOCTYPE html>
<html>
<head>
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <span>susu</span>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/history">History</a>
        <a href="/analyze">Analyze</a>
        <a href="/doctors">Doctors</a>

        {% if session.get("user_id") %}
            <a href="/logout">Logout</a>
        {% else %}
        <a href="/login" class="btn">Login</a>
        <a href="/signup" class="btn">SignUp</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
