{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px; margin-top: 30px;">
<div class="logincontainer">
    <div class="image-div">
        <img src="{{ url_for('static', filename='images/login.jpeg') }}" alt="Login Image">

    </div>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input 
                type="text" 
                class="form-control" 
                id="username" 
                name="name" 
                placeholder="Enter username"
                required
            >
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password" 
                placeholder="Enter password"
                required
            >
        </div>

        <button type="submit" class="btn btn-primary">
            Login
        </button>
    </form>
</div>
</div>
{% endblock %}
